.gallery, .bg, .full, .swiper, .swiperItem, .swiperWrap {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}
.gallery, .bg, .wrap, .full {
  overflow: hidden;
}

.gallery {
  display: none;
  position: fixed;
  z-index: 9999;
}

.bg {
  position: absolute;
  background: #000;
  opacity: 0;
}

.wrap {
  position: absolute;
  transform-origin: left top;
}

.wrap img {
  width: 100%;
}

.center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
